$theme-colors: (
  primary: #3c37f1,
  secondary: #1998ff,
  success: #00d663,
  info: #00b3ff,
  warning: #ffe671,
  danger: #ff696d,
  light: #506690,
  dark: #000000,
);

$primary: #3c37f1;
$secondary: #1998ff;
$success: #00d663;
$info: #00b3ff;
$warning: #ffe671;
$danger: #ff696d;
$light: #506690;
$dark: #000000;

$theme-gradient-colors: (
  primary: linear-gradient(230deg, #759bff, #843cf6),
  secondary: linear-gradient(to right, #e7ebf0, #868e96),
  success: linear-gradient(45deg, #7bffce, #30c93e),
  info: linear-gradient(to bottom, #0e4cfd, #6a8eff),
  warning: linear-gradient(135deg, #ffc480, #ff763b),
  danger: linear-gradient(316deg, #fc5286, #fbaaa2),
  light: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%),
  dark: linear-gradient(to right, #7d7979 0%, #000000 100%),
);
