@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.form-02-main {
  background: url("/assets/images/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 100vh;
}


.card {
  background: rgba(255, 255, 255, 0.6);
}

.card-body{
  padding: 2rem;
}

.logo {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
}

.form-group {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  position: relative;
}

.form-group p {
  margin: 0px;
}

.form-control {
  min-height: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100%;
}

.loginTitle {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Pacifico", cursive;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

._social_04 {
  display: block;
  width: 100%;
  text-align: center;
}

._social_04 ol{
  padding: initial;
}

._social_04 ol li {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: 0.2s;
  background: #fff;
  border-radius: 50px;
  border: 1px solid#0b5ed7;
  margin: 0 0 0 10px;
  transition: 0.2s;
}

._social_04 ol li:nth-child(1):hover {
  background: #3b5998;
  border: 1px solid#3b5998;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:nth-child(2):hover {
  background: #00aced;
  border: 1px solid#00aced;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:nth-child(3):hover {
  background: #c32f10;
  border: 1px solid#c32f10;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:nth-child(4):hover {
  background: #e1306c;
  border: 1px solid#E1306C;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:nth-child(5):hover {
  background: #0177b5;
  border: 1px solid#0177b5;
  color: #fff;
  transition: 0.2s;
}

._social_04 ol li:hover,
._social_04 ol li:hover i {
  color: #fff;
}

._social_04 ol li i:nth-child(1):hover {
  color: #fff;
}

._social_04 ol li i {
  font-size: 15px;
  color: #0b5ed7;
}
