<section id="home" class="home">
  <div class="container">
    <div class="main-banner">
      <div class="row g-2">
        <div data-aos="zoom-in-up" class="col-md-6 d-flex align-items-center">
          <div>
            <h1 class="font-weight-medium" style="font-size: 60px">
              Become A Satisfied Customer
            </h1>
            <h2 class="mt-3">
              Contribute to making ordinary experiences extra-ordinary.
            </h2>
          </div>
        </div>
        <div class="mt-5 mt-lg-0 col-md-6 d-flex justify-content-end">
          <img
            src="assets/images/cust.png"
            alt="img"
            class="img-fluid"
            data-aos="zoom-in-up"
            style="width: 20em"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sect">
  <div class="container">
    <div class="sub-banner">
      <div class="row g-2">
        <div class="mt-5 mt-lg-0 col-md-6 d-flex justify-content-start">
          <img
            src="assets/images/share.png"
            alt="img"
            class="img-fluid"
            data-aos="zoom-in-up"
          />
        </div>

        <div
          data-aos="zoom-in-up"
          class="col-md-6 d-flex align-items-center p-3"
        >
          <div>
            <h1 class="font-weight-medium">Share</h1>
            <p class="mt-3">
              Tell the world how you felt during your stay at the branch. How
              was the quality of the services? How was the efficiency of the
              staff? If you were the manager, what would you do better to make
              your experience much better?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sect" style="background-color: aliceblue">
  <div class="container">
    <div class="sub-banner">
      <div class="row g-2 change">
        <div
          data-aos="zoom-in-up"
          class="col-md-6 d-flex align-items-center p-3"
        >
          <div>
            <h1 class="font-weight-medium">Review</h1>
            <p class="mt-3">
              Tell us what exactly you appreciated about the services you were
              offered, about the set up of the place, and the staff at large. In
              addition to that, all tell us exactly what offended you, or what
              wasn't up to your expectations. And finally, if you have any ideas
              to suggest to the branch, feel free to add them as well.
            </p>
          </div>
        </div>
        <div class="mt-5 mt-lg-0 col-md-6 d-flex justify-content-end">
          <img
            src="assets/images/review.jpg"
            alt="img"
            class="img-fluid"
            data-aos="zoom-in-up"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sect">
  <div class="container">
    <div class="sub-banner">
      <div class="row g-2">
        <div class="mt-5 mt-lg-0 col-md-6 d-flex justify-content-start">
          <img
            src="assets/images/sat.jpg"
            alt="img"
            class="img-fluid"
            data-aos="zoom-in-up"
          />
        </div>

        <div
          data-aos="zoom-in-up"
          class="col-md-6 d-flex align-items-center p-3"
        >
          <div>
            <h1 class="font-weight-medium">Rate</h1>
            <p class="mt-3">
              On a scale of 1 to 10, tell us how satisfied you are with:
              <br />
              1. The services and products.
              <br />
              2. The staff that you worked with.
              <br />
              3. The customer feedback you recieved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="sect1">
  <div class="container">
    <div class="sub-banner">
      <div class="row g-2 change">
        <div
          data-aos="zoom-in-up"
          class="col-md-6 d-flex align-items-center p-3"
        >
          <div>
            <h1
              class="font-weight-medium"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              Inspiration
            </h1>
            <p data-aos="fade-up" data-aos-delay="200">
              There are so many platforms where people share their experiences
              about the banking sector. Unfortunately, when these posts are made
              on majority of these platforms, they paint a bad picture of the
              bank. In addition to that, the different banks do not engage the
              customers about those experiences for various reasons.
            </p>

            <p data-aos="fade-up" data-aos-delay="300">
              This platform is inspired by situation above. This platform
              resolves this problem through giving customers an environment to
              express their issues and also gives the bank a central platform to
              engage their customers.
            </p>
          </div>
        </div>

        <div class="mt-5 mt-lg-0 col-md-6 d-flex justify-content-start">
          <img
            src="assets/images/media.jpg"
            alt="img"
            class="img-fluid"
            data-aos="zoom-in-up"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sect">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="lc-block mb-4">
          <h2 editable="inline" class="display-2 mb-0"><b>Team</b></h2>
          <p editable="inline">
            Meet the brains behind this
            <a
              href="https://github.com/rmatovu987/service-mybranch/"
              target="_blank"
              style="text-decoration: none"
              >project</a
            >.
          </p>
        </div>
        <!-- /lc-block -->
      </div>
    </div>

    <div class="row g-2 pt-4">
      <div class="col-md-6 text-center p-4 cd">
        <div class="lc-block">
          <img
            alt=""
            class="rounded-circle mb-3"
            src="assets/images/rich.png"
            style="height: 10vh"
            loading="lazy"
          />
          <div editable="rich">
            <p>
              “Our greatest asset is the customer! Treat each customer as if
              they are the only one!” – Laurice Leitao
            </p>
          </div>
        </div>
        <div class="lc-block mt-2 py-2 border-top">
          <h5 editable="inline"><strong>Richard F. Matovu</strong></h5>

          <small
            editable="inline"
            class="text-secondary"
            style="letter-spacing: 1px"
            >Full Stack Developer</small
          >
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://www.twitter.com/rmatovu987" target="_blank"
            ><i class="bi bi-twitter"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/richard-matovu-27b900189/"
            target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a href="https://www.github.com/rmatovu987" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </div>
        <!-- /lc-block -->
        <!-- /lc-block -->
      </div>
      <div class="col-md-6 text-center p-4 cd">
        <div class="lc-block">
          <img
            alt=""
            class="rounded-circle mb-3"
            src="https://avatars.githubusercontent.com/u/73999392?v=4"
            style="height: 10vh"
            loading="lazy"
          />
          <div editable="rich">
            <p>
              “Face the simple fact before it comes involved. Solve the small
              problem before it becomes big.” – Lao Tzu
            </p>
          </div>
        </div>
        <div class="lc-block mt-2 py-2 border-top">
          <h5 editable="inline"><strong>Promise Emmanuel Yehangane</strong></h5>
          <small
            editable="inline"
            class="text-secondary"
            style="letter-spacing: 1px"
            >Backend Developer</small
          >
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://www.twitter.com/n_uel07" target="_blank"
            ><i class="bi bi-twitter"></i
          ></a>
          <a href="https://www.linkedin.com/in/promise-yehangane-3639a4146" target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a href="https://www.github.com/nuel07" target="_blank"
            ><i class="bi bi-github"></i
          ></a>
        </div>
        <!-- /lc-block -->
        <!-- /lc-block -->
      </div>
    </div>
  </div>
</section>


<footer class="">
  <div class="container text-center">Designed by Richard & Promise</div>
</footer>